<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">LOGO</div>
  </div>

  <div class="navbar-center">
    <button class="nav-btn" routerLink="/articulos" routerLinkActive="active">Productos</button>
    <button class="nav-btn active" routerLink="" routerLinkActive="active">Inicio</button>
    <button class="nav-btn"routerLink="" routerLinkActive="active">Pedidos</button>
  </div>

  <div class="navbar-right">
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>

    <input type="text" placeholder="Placeholder" class="nav-input">

    <button class="auth-btn login" routerLinkActive="/login">Login</button>
    <button class="auth-btn register">Register</button>
  </div>
</nav>
