<nav class="navbar">
  <div class="navbar-left">
    <a routerLink=""><img src="images/LogoSinFondo.webp" alt="Logo" class="logo"></a>
      <button class="nav-btn" routerLink="/figuras" routerLinkActive="active">Figuras</button>
      <button class="nav-btn" routerLink="/juegos" routerLinkActive="active">Juegos</button>
      <button class="nav-btn" routerLink="/comics" routerLinkActive="active">Comics</button>
      <button class="nav-btn" routerLink="/Gestion_de_productos" routerLinkActive="active">Gestion de productos</button>
      <div class="searchBox" role="search">
        <input
          class="searchInput"
          type="search"
          name="query"
          placeholder="Buscar"
          aria-label="Buscar"
        >
        <button class="searchButton" type="button" aria-label="Buscar">
          <i class="material-icons" aria-hidden="true">search</i>
        </button>
      </div>

  </div>


  <div class="navbar-right">
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>



    <button class="auth-btn login" routerLink="/login">Login</button>
    <button class="auth-btn register" routerLink="/registrar">Registrar</button>
  </div>
</nav>
